<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<form th:action="@{/dologin}" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密&nbsp;码：</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>记住我：</td>
            <td><input name="remember-me" type="checkbox" value="true"/></td>
        </tr>
        <tr>
            <td colspan="2"><button th:type="submit" th:text="立即登录"></button></td>
        </tr>
        验证码: <input name="kaptcha" type="text"/> <img alt="" th:src="@{/vc.jpg}"><br>
        <tr>
            <p th:if="${param.error}" th:text="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message}"></p>
        </tr>
    </table>
</form>
</body>

</html>